// Override default variables before the import

$title-color: rgba(255, 80, 114, 1);
$text-color: rgba(32, 33, 36, 1);
$border-color: rgba(255, 128, 153, 1);
$background-color: rgba(255, 242, 232, 0.8);
$background-color-done: rgba(235, 233, 233, 0.87);

$border-radius: 4px;

$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;