@import "./assets/variable.scss";

body {
  margin: 0;
  color: $text-color;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: $title-color;
  font-family: 'Yuji Mai', serif;
}
